html{
  scroll-behavior: smooth;
}

body {
  font-family: "EB Garamond", serif;
  background-color: #fffff9;
  margin: 0;
  padding: 0;
  color: #333;
}

/* Container principal -- https://linuxhint.com/how-to-make-html-container-box-in-html/ -- buscando cosas en esta página aprendi a hacerlo*/
.header {
  /*max-width: 850px;*/
  max-width: 100%;
  background-color: #0000FF;
  padding: 20px;
}

/* encabezado */
header {
  text-align: center;
  margin-bottom: 10px;
}

header h1 {
  font-family: "Meddon", cursive;
  margin-bottom: -20px;
  font-size: 4em;
  color: #ffffff;
}

header p {
  margin: 0px 0;
  color: #ffffff;
}

header a {
  color: #ffffff;
}

.nav a {
    text-decoration: none;
    color: #ffff;
    margin: 0 25px;
    font-size: 0.95rem;
    text-transform: uppercase;
    transition: color 0.3s ease;
    padding: 5px 7px;
    border: 1px solid;
    border-radius: 5px;
    cursor: pointer;
}

.nav a:hover,
.nav a.active {
    color: #2c2c2c;
}


/*--------------------------------------------------*/

.contenido {
  display: flex;
  justify-content: space-between;
  align-items: center;
  max-width: 100%;
  padding-left: 100px;
  padding-right: 100px;
  margin: 20px auto;
  gap: 20px;
}


.contenido img {
  max-width: 100%;
  margin-bottom: 25px;
  margin-top: 25px;
}

.contenido-invertido {
  flex-direction: row-reverse;
}

.contenido-vertical {
  max-width: 100%;
  align-content: center;
  padding-left: 100px;
  padding-right: 100px;
  /*margin: 20px auto;*/
  gap: 20px;
}

h1 {
  font-family: "Meddon", cursive;
  margin: 0;
  /*text-align: right;*/
  font-size: 2.2em;
  color: #0000FF;
}


.contenido p {
  flex: 1;
  width: 100px;
  margin: 2px 0;
  color: #333;
  text-align: left;
}

.contenido-vertical p{
  max-width: 1000px;
  margin: 30px auto;
}
/*------------------*/
.obras{
  display: flex;
  justify-content: center;
  max-width: 100%;
  margin: 20px auto;
  gap: 20px;
  /*padding: 20px;*/
  /*border-radius: 10px;
  text-align: left;
  margin-bottom: 10px;*/
}

.titulo{
  text-align: center;
  max-width: 850px;
  margin: 20px auto;
  gap: 20px;
  background-color: #fffff9;
  /*padding: 20px;*/
  /*border-radius: 10px;
  text-align: left;
  margin-bottom: 10px;*/
}

.imagen-zoom {
  overflow: hidden;
  display: inline-block;
}

.imagen-zoom img {
  width: 200px;
  transition: transform 0.3s ease;
  display: block;
}

.imagen-zoom img:hover {
  transform: scale(4); /* Ajusta el nivel de zoom */
}

.send-back{
  text-align: right;
  margin-right: 50px;
}

.send-back a {
  color: whitesmoke;
  text-decoration: underline;
  transition: 0.3s;
}

.send-back a:hover {
  color: black;
  text-decoration: underline;
  transform: translateY(-2px);
}

b{
  font-size: 1.3em;
  font-weight: 700;
  color: #0000FF;
}

.footer {
  margin-top: 50px;
  max-width: 100%;
  background-color: #0000FF;
  padding: 20px;
}